[Unit]
Description=Temporary Directory (/var/log/sysstat)
Documentation=man:hier(7)
ConditionPathIsSymbolicLink=!/var/log/sysstat
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target
After=swap.target

[Mount]
What=tmpfs
Where=/var/log/sysstat
Type=tmpfs
Options=mode=1777,strictatime,nosuid,nodev

[Install]
WantedBy=local-fs.target

